{#
/**
 * @file
 * Template for the progress bar.
 *
 * Available variables:
 * - state: Array which contain name, color, percentage.
 *
 * @ingroup themeable
 */
#}

<div class="progress">
  <span class="progress-bar" style="width: {{ state.state }}%"></span>
</div>
