{#
/**
 * @file
 * Template for the progress bar.
 *
 * Available variables:
 * - state: Array which contain name, color, percentage.
 *
 * @ingroup themeable
 */
#}

<div class="wrapper">
  <div class="progress-bar">
    <span class="progress-bar-fill" style="width: {{ state.state }}%;"></span>
  </div>
</div>
